// COLORS

$font-stack: 'Press Start 2P',
cursive;
$white: #fff;
$black: #000;
$gray: #4CAF50;
$cyan: #48FCFD;
$purple: #534CFF;
$red: #FF524F;

// FONTS
h1 {
    font-size: 3.6rem;
}

// UTILITIES FOR MILIGRAM
.spacer-20 {
    padding-top: 20px;
}

.spacer-40 {
    padding-top: 40px;
}

.spacer-60 {
    padding-top: 60px;
}

.center-column {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

// GENERAL STYLES

// figure {
//     padding: 0;

//     img {
//        background-position: cover;
//     }
// }

.bg {
    /* The image used */
    background-image: url("../images/hero-image-pixelated.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: 120px 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font: 100% $font-stack;
    color: $white;
    padding: auto 15%;
    overflow-x: hidden;
    min-width: 400px;
}


header {
    height: auto;
    background-color: $purple;
    color: $white;
    border: 3px solid $black;


    h1 {
        text-align: left;
        color: white;
        padding: 25px;
        font-size: 1.5rem;
        white-space: nowrap;
        margin: 0;
        line-height: 0;
    }

    .logo {
        padding-top: 20px;
    }
}

.language-select {
    padding-top: 60px;
    color: #fff;
    font-size: 1rem;

}

.nes-select {
    width: 90%;
}


nav {
    width: 100%;
    height: 47px;
    background-color: $cyan;

    font-size: 12px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li::first-letter {
        text-decoration: underline;
        border-bottom: 3px solid #000;
    }

    li a {
        color: $black;
        display: block;
        text-align: center;
        padding: 18px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: $red;
        color: $white;
text-decoration: none;

    }

    .active {
        background-color: $gray;
    }
}

// SECTION STYLES
.quotesWindow {
    padding: 10px 25px 25px 25px;
    line-height: 1.85;
}

.panel {
    display: block;
    padding-bottom: 4rem;
    padding-top: 4rem;

    // divider headers with double dashes
    h5 {
        text-align: center;
        padding: 25px 15px 15px 15px;
        border-right: none;
        border-left: none;
        text-transform: uppercase;
        font-size: 1.25rem;
    }

    &.black {
        height: auto;
        width: 100%;
        min-height: 200px;
        background-color: $black;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        h5 {

            border-top: 2px dashed #fff;
            border-bottom: 2px dashed #fff;
        }
    }

    &.white {
        height: 100%;
        min-height: 200px;
        color: $black;
        background-color: $white;

        // divider headers with double dashes
        h5 {

            border-top: 2px dashed #000;
            border-bottom: 2px dashed #000;
        }
    }


}



// TABLES
.ms-dos-table {

    table {
        border-collapse: collapse;
        border-bottom: 1px solid $black;

    }

    th {
        border: 1px solid black;
        border-bottom: 1px solid black;

    }


    // color the first row
    tbody tr:first-child td {
        background: $cyan;
    }

    tr {
        border-left: 1px solid black;
        border-right: 1px solid black;

    }

    td {
        border-bottom: 1px solid black;
        // padding: 18px;

    }

    thead {
        text-align: center;
    }
}

// DIVIDERS
.section-title {
    padding-bottom: 20px;
}

.divider {
    background-image: url("../images/checkers.png");
    background-repeat: repeat-x;
    height: 24px;

}


footer {
    width: 100vw;
    background-color: $purple;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    font-size: .25em;

    nav {
        background-color: $purple;
        margin-top: 0;
        border: 0;
        color: $white;

        a {
            color: $white;
            display: block;
            text-align: center;
            padding: 5px 16px;
            text-decoration: none;

        }

        a:hover {
            background-color: #111;
            color: $white;
        }
    }
}

// COMPONENTS

/** MS DOS ITEMS **/
.collapse-icn {
    padding-left: 15px;
}

.down-icn {
    padding-right: 15px;
}

.ms-file-title {
    background-color: #534CFf;
    color: white;
    line-height: 1.85
}


// Image Gallery

.gallery-description {
    text-align: left;
    line-height: 1.85;
    padding: 20px;
}



.window-cta-btn {
    padding-bottom: 50px;
    border: 0;
}

.teaser-content {
    text-align: left;

    p {
        line-height: 2;
        font-size: 1em;
    }
}

// MS DOS DROP DOWNS NAV
.dropbtn {
    background-color: $cyan;
    border: none;
    color: $black;

    &::first-letter {
        text-decoration: underline;
        border-bottom: 3px solid #000;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $cyan;
    min-width: 255px;
    z-index: 1;
    list-style-type: none;
}

.dropdown-content ul li {
    padding-top: 10px;
    list-style-type: none;
    line-height: 1.8;
    border-bottom: 1px solid $black;
}

.dropdown-content a {
    padding: 10px 0;
    margin: 20px;
    white-space: nowrap;


}

.dropdown-content a:hover {
    background-color: $red;
    text-decoration: none;
    color: $white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: $red;
}

// NES OVERRIDES

h3 {
    width: 160px;
    height: 41px;
    background-color: black;
    position: relative;
    top: -39px;
    white-space: nowrap;
    font-size: 15px;
    padding: 10px;
    color: $white;
}


.nes-container.with-title>.title {
    padding: 2rem;
    width: auto;
    margin-top: -4rem;
    background-color: $black;

}

.nes-container.is-dark {
    margin: 0;
    background-color: $black;
}


.nes-select {
    margin: 5px 0;
}

button {
    background-color:transparent;
    border: none;

}
figure {
    margin: 0;
}


// MEDIA QUERIES
@media only screen and (max-width: 700px) {
    nav li {
        font-size: 10px;
        padding: 0;

    }
}