// COLORS

$font-stack: 'Press Start 2P',
cursive;
$white: #fff;
$black: #000;
$cyan: #48FCFD;
$purple: #534CFF;

// FONTS
h1 {
    font-size: 3.6rem;
}

// UTILITIES FOR MILIGRAM
.left-column {
    padding: 20px;
    margin: 20px;
}

.flex-parent-center {
display:flex;
}

.flex-item-center {
text-align: center;
justify-content: center;
}


// GENERAL STYLES
html {
    // padding: 0 20px;
}

body {
    font: 100% $font-stack;
    color: $white;
    padding: auto 15%;
    overflow-x: hidden;
}


header {
    height: auto;
    background-color: $white;
    color: $black;


    h1 {
        line-height: 0;
        padding-top: 35px;
    }
    .logo{
        padding-top: 20px;
    }
}

.language-select {
    padding-top: 60px;
    color: #fff;
    font-size: 1rem;

}

.nes-select {
    width: 90%;
}


nav {
    width: 100vw;
    height: 47px;
    background-color: $cyan;
    margin-top: 5px;
    border-top: 3px solid $black;
    border-left: 3px solid $black;
    border-right: 3px solid $black;
    font-size: 1.5rem;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li::first-letter {
        text-decoration: underline;
        border-bottom: 3px solid #000;
    }

    li a {
        color: $black;
        display: block;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
        color: $white;
    }

    .active {
        background-color: #4CAF50;
    }
}

// SECTION STYLES
.hero-section {
    height: 800px;
    width: 100%;
    background-image: url("../images/hero-image-pixelated.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: $black;
    .teaser-content {
width: 60%;
margin: 0 auto;

    text-align: center;
}
    img {
        padding: 20px;
    }
}

.white-section {
    height: 400px;
    color: $black;
    background-color: $white;
    margin-top: 35px;
    h5 {
        text-align: center;
        background: white;
        padding: 25px 15px 15px 15px;
        border-top: 2px dashed #000;
        border-bottom: 2px dashed #000;
        border-right: none;
        border-left: none;
        text-transform: uppercase;
        font-size: 1.25rem;
    }
    article {
        margin-top: 50px;
    }

}


// DIVIDERS
.divider {
    background-image: url("../images/checkers.png");
    background-repeat: repeat-x;
    height: 24px;

}


footer {
    width: 100vw;
}

// COMPONENTS
// MS DOS APP WINDOW
.ms-dos-window{
    border: 2px solid $black;
    display:flex; justify-content: center;
}

.ms-dos-collapse{
    border: 2px solid black;
    display:flex;
    justify-content: center;

}
    .ms-icn-collapse {
        text-align: center;
    }
.ms-dos-arrow {

}

// TEST COLORS DELETE AFTER PROD
.color1 {
    background-color: red;
}

.color2 {
    background-color: blue;

}

.color3 {
    background-color: magenta;
}