// COLORS

$font-stack: 'Press Start 2P',
cursive;
$white: #fff;
$black: #000;
$gray: #4CAF50;
$cyan: #48FCFD;
$purple: #534CFF;

// FONTS
h1 {
    font-size: 3.6rem;
}

// UTILITIES FOR MILIGRAM
.spacer-20 {
    padding-top: 20px;
}

.spacer-40 {
    padding-top: 40px;
}

.spacer-60 {
    padding-top: 60px;
}

.center-column {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

// GENERAL STYLES

figure {
    padding: 0;

    img {
        object-fit: cover;
    }
}

body {
    font: 100% $font-stack;
    color: $white;
    padding: auto 15%;
    overflow-x: hidden;
    min-width: 400px;
}


header {
    height: auto;
    background-color: $white;
    color: $black;


    h1 {
        line-height: 0;
        padding-top: 35px;
    }

    .logo {
        padding-top: 20px;
    }
}

.language-select {
    padding-top: 60px;
    color: #fff;
    font-size: 1rem;

}

.nes-select {
    width: 90%;
}


nav {
    width: 100%;
    height: 47px;
    background-color: $cyan;
    margin-top: 5px;
    border: 3px solid $black;

    font-size: 1.5rem;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li::first-letter {
        text-decoration: underline;
        border-bottom: 3px solid #000;
    }

    li a {
        color: $black;
        display: block;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
        color: $white;
    }

    .active {
        background-color: $gray;
    }
}

// SECTION STYLES
.quotesWindow {
    padding: 10px 25px 25px 25px;
    line-height: 1.85;
}

.panel {
    display: block;
    padding-bottom: 4rem;
    padding-top: 4rem;

    // divider headers with double dashes
    h5 {
        text-align: center;
        padding: 25px 15px 15px 15px;
        border-right: none;
        border-left: none;
        text-transform: uppercase;
        font-size: 1.25rem;
    }

    &.black {
        height: auto;
        width: 100%;
        min-height: 200px;
        background-color: $black;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        h5 {

            border-top: 2px dashed #fff;
            border-bottom: 2px dashed #fff;
        }
    }

    &.white {
        height: 100%;
        min-height: 200px;
        color: $black;
        background-color: $white;

        // divider headers with double dashes
        h5 {

            border-top: 2px dashed #000;
            border-bottom: 2px dashed #000;
        }
    }


}



// TABLES
table {
    border-collapse: collapse;
    border-bottom: 1px solid $black;

}

th {
    border: 1px solid black;
    border-bottom: 1px solid black;

}

// color the first row
tbody tr:first-child td {
    background: $cyan;
}

tr {
    border-left: 1px solid black;
    border-right: 1px solid black;

}

td {
    border-bottom: 1px solid black;

}

thead {
    text-align: center;
}

// DIVIDERS
.section-title {
    padding-bottom: 20px;
}

.divider {
    background-image: url("../images/checkers.png");
    background-repeat: repeat-x;
    height: 24px;

}


footer {
    width: 100vw;
    background-color: $purple;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    font-size: .25em;

    nav {
        background-color: $purple;
        margin-top: 0;
        border: 0;
        color: $white;

        a {
            color: $white;
            display: block;
            text-align: center;
            padding: 5px 16px;
            text-decoration: none;

        }

        a:hover {
            background-color: #111;
            color: $white;
        }
    }
}

// COMPONENTS

// Image Gallery

.gallery-description {
    text-align: left;
    line-height: 1.85;
    padding: 20px;
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba($cyan, .9);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid $black;
    width: 70%;
    /* Could be more or less, depending on screen size */
}

.window-cta-btn {
    padding-bottom: 50px;
    border: 0;
}

.teaser-content {
    text-align: left;

    p {
        line-height: 2;
        font-size: 1em;
    }
}


//nes overrides
.nes-container.with-title>.title {
padding: 2rem;
    width: auto;
    margin-top: -4rem;
    background-color: $black;

}
.nes-container.is-dark {
    margin: 0;
    background-color: $black;
}