// COLORS

$font-stack: 'Press Start 2P',
cursive;
$white: #fff;
$black: #000;
$cyan: #48FCFD;
$purple: #534CFF;

// FONTS
h1 {
    font-size: 3.6rem;
}

// GENERAL STYLES

body {
    font: 100% $font-stack;
    color: $white;
    background-color: $black;
    padding: auto 15%;
    overflow-x: hidden;
}


header {
    height: auto;
    width: 100vw;
    background-color: $black;
    color: $white;
    padding-top: 25px;
    // border: 3px solid $white;
}

.logo {
    padding: 25px 30px 2px;
}

nav {
    width: 100vw;
    height: 47px;
    background-color: $cyan;
    border-left: 3px solid $black;
    border-right: 3px solid $black;
    font-size: 1.5rem;
    // padding-left: 20px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li::first-letter {
        text-decoration: underline;
        border-bottom: 3px solid #000;
    }

    li a {
        color: $black;

        display: block;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
        color: $white;
    }

    .active {
        background-color: #4CAF50;
    }
}

// SECTION STYLES
.white-section {
    height: 400px;
    color: $black;

    h4 {
        text-align: center;
    }
}

// DIVIDERS
.divider {
    background-image: url("images/checkers.png");
    background-repeat: repeat-x;
    height: 24px;



}

.dashed-border {
    width: 100%;
    margin: auto;
    border: none;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-repeat: repeat-x;
    background-position: center;
    background-color: transparent;
    background-image: url("images/dashed-bars.png");

}

footer {
    width: 100vw;
}